
  <div class=" card aa" *ngFor="let o of p">
  <div class="w3-card-4">
<div class="w3-card-4" style="width:40%;" >
  <header class=" w3-blue ab" >
    <h2>  {{o.title}}<br></h2>
  </header>
  <!-- Title of plan : {{o.title}}<br> -->
  <div class=" card w3-container">
<p>Duration : {{o.duration}}<br>
 Monthly Amount : {{o.amount}}<br>
 Min.InterestRate:  {{o.interest}}<br></p>
    
</div>

<footer class="  w3-blue ab">
  <button type="button" class="btn btn-info" (click)="delete(o.title)" style="margin-left: 10px">DELETE</button>
  
  <button type="button" class="btn btn-info" (click)="setMasterPlanForSocity(o._id)"data-toggle="modal" data-target="#myModal"style="margin-left: 20px">CREATE SOCITY</button>
</footer>


</div>
</div>
</div>


 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> </h4>
      </div>
      <div class="modal-body">
        <h3>Select date</h3>
        <form action="">

            <input type="date" [(ngModel)]="f.date" name="date">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="createsocity()" data-dismiss="modal">Create</button>
      </div>
    </div>
    
  </div>
</div>
